<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>
        Feature Flag Platform
    </title>

    <link rel="stylesheet"
          th:href="@{/css/home.css}">

</head>

<body>

<div class="hero">

    <div class="overlay"></div>

    <div class="content">

        <h1>
            🚀 Feature Flag & A/B Testing Platform
        </h1>

        <p>
            Manage experiments, analyze variants,
            monitor rollout, and track live analytics.
        </p>

        <a href="/admin/experiments"
           class="manage-btn">

            ⚙ Manage Experiments

        </a>

    </div>

</div>

</body>

</html>